/* ===== Header ===== */
.upperMenuHeader {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 0.5em 2em;
  background: var(--bg-clr-lvl-2);
  align-items: center;
  z-index: 100;
}

/* ===== Menu Logo ===== */
.upperMenuLogo {
  grid-column: 1 / 2;
}
