/* ===== Main Grid ===== */
.mainGrid {
  display: grid;
  grid-template-columns: 2em repeat(10, 1fr) 2em;
  grid-template-rows: 74px 100px auto 60px;
  height: 100vh;
}

/* ===== Headers ===== */
.headerContainer {
  display: flex;
  justify-content: space-between;
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}
.boldHeader {
  align-self: center;
  color: var(--text-and-icons-clr-secondary);
  font-weight: var(--font-weight-headline);
  font-size: var(--font-size-headline);
  display: inline;
  user-select: none;
  cursor: pointer;
}
.profileHeaderActive,
.myStartupsHeaderActive,
.mySubscribesHeaderActive {
  color: var(--text-and-icons-clr-primary);
}

/* ===== Form ===== */
.formContainer {
  grid-column: 5 / 10;
  grid-row: 3;
}
.avatar {
  width: 100px !important;
  height: 100px !important;
}
.firstLine,
.secondLine,
.thirdLine {
  margin: 48px 0;
}
.input {
  margin: 10px !important;
  width: 45%;
}
.formContainer {
  grid-column: 5 / 10;
  grid-row: 3;
  padding-bottom: 5em;
}
.formContainer fieldset {
  border-radius: 12px;
  border-color: #ccc;
  background: var(--bg-clr-lvl-2);
  z-index: -1;
}
.input div:hover fieldset {
  border-color: var(--accent-clr) !important;
}

/* ===== Edit Button ===== */
.muiEditButton {
  color: var(--accent-clr) !important;
  text-transform: initial !important;
  margin-left: 16px !important;
}

.secondLine {
  display: grid;
  justify-items: start;
}

/* ===== My Subs Section ===== */
.smallSectionHeader {
  margin-bottom: 24px;
}
.smallSectionSubtitle {
  color: var(--text-and-icons-clr-secondary);
  margin-bottom: 24px;
}

/* ===== Subscription Card ===== */
.subscriptionCard {
  background: var(--bg-clr-lvl-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.subscriptionIconsBox {
  justify-self: end;
}
.subscriptionIcon {
  color: var(--accent-clr);
}
.muiSaveButton {
  text-transform: initial !important;
  background: var(--accent-clr) !important;
  padding: 10px 16px !important;
  border-radius: 12px !important;
  box-shadow: none !important;
}
.muiSaveButton:hover {
  box-shadow: none !important;
}

/* ===== Sliding Card ===== */

/* ===== My Startups Section ===== */
.selectsContainer {
  grid-column: 5 / 10;
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}
.startupSelect {
  width: 180px;
  margin-left: 24px !important;
}

/* ===== Card ===== */
.card {
  height: fit-content;
  border: none !important;
  border-radius: var(--rounding-lvl-1) !important;
  margin: 12px 0;
}

/* ===== Tags Container ===== */
.tagsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 1em 12px;
}
.themeProjectTagContainer {
  display: flex;
  justify-content: flex-end;
}

/* ===== Card Header ===== */
.cardHeader {
  font-size: 18px;
  margin-bottom: 1.5em;
  padding-left: 1em;
  max-width: 75%;
}

/* ===== Card Text ===== */
.cardText {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1em;
  padding-left: 1rem;
  max-width: 75%;
}

/* ===== Card Footer ===== */
.cardFooter {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1rem;
}
.projectStatsContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  max-width: 350px;
}
.projectButtonsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}
.projectComments,
.projectRate,
.projectDate {
  display: flex;
  align-items: center;
}
.projectStatsContainer svg {
  width: 20px;
  height: 20px;
  margin-right: 14px;
  color: var(--text-and-icons-clr-tertiary);
}

/* ===== Buttons ===== */
.muiReadMoreButton,
.muiLikeButton {
  display: block;
  text-transform: initial !important;
  font-family: MoscowSans, Roboto, sans-serif !important;
  width: fit-content;
  font-weight: 300 !important;
}
.muiReadMoreButton {
  background: var(--accent-clr) !important;
  padding: 16px !important;
  border-radius: 16px 0px !important;
  box-shadow: none !important;
}
.muiLikeButton {
  color: var(--accent-clr) !important;
  height: fit-content;
  border-radius: 12px !important;
}
