/* ===== Card ===== */
.card {
  height: fit-content;
  border: none !important;
  border-radius: var(--rounding-lvl-1) !important;
  margin: 10px 0;
}

/* ===== Tags Container ===== */
.tagsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 1em 12px;
}
.themeProjectTagContainer {
  display: flex;
  justify-content: flex-end;
}

/* ===== Card Header ===== */
.cardHeader {
  font-size: 18px;
  margin-bottom: 1.5em;
  padding-left: 1em;
  max-width: 75%;
}

/* ===== Card Text ===== */
.cardText {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1em;
  padding-left: 1rem;
  max-width: 75%;
}

/* ===== Buttons ===== */
.muiReadMoreButton,
.muiAboutButton {
  display: block;
  text-transform: initial !important;
  font-family: MoscowSans, Roboto, sans-serif !important;
  width: max-content;
  font-weight: 300 !important;
}
.muiReadMoreButton {
  background: var(--accent-clr) !important;
  padding: 16px !important;
  border-radius: 16px 0px !important;
  box-shadow: none !important;
}
.muiAboutButton {
  color: var(--accent-clr) !important;
  height: fit-content;
  border-radius: 12px !important;
  margin-right: 36px !important;
}

/* ===== First Line ===== */
.firstLine {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  padding: 0 18px;
}
.startupName,
.organisationName,
.startupName2 {
  font-size: 18px;
}
.startupName,
.organisationName {
  color: var(--accent-clr);
  display: inline-block;
  max-width: 80%;
  margin-bottom: 24px;
}
.startupName2 {
  text-align: right;
  display: inline-block;
  max-width: 55%;
  justify-self: end;
  font-weight: 800;
}

/* ===== Second Line ===== */
.secondLine {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  padding: 0 18px;
  align-items: center;
}

/* ===== Card Footer ===== */
.cardFooter {
  font-size: 14px;
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  padding-left: 18px;
  align-items: center;
}
.projectStatsContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  max-width: 350px;
}
.projectButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-items: end;
  align-items: center;
  grid-column: 3 / 4;
}
.projectComments,
.projectRate,
.projectDate {
  display: flex;
  align-items: center;
}
.projectStatsContainer svg {
  width: 20px;
  height: 20px;
  margin-right: 14px;
  color: var(--text-and-icons-clr-tertiary);
}
.startuperContactContainer,
.investorContactContainer {
  color: var(--text-and-icons-clr-secondary);
  display: inline-block;
  max-width: 80%;
}
