/* ===== Main Grid ===== */
.mainGrid {
  display: grid;
  grid-template-columns: 2em repeat(10, 1fr) 2em;
  grid-template-rows: 66px auto;
  height: 100vh;
}

/* ===== Carousel ===== */
.carouselContainer {
  display: grid;
  grid-column: 1 / 7;
  grid-row: 2;
  place-items: center;
  padding: 4em;
  text-align: center;
}
.carouselTitle {
  font-weight: 400;
  font-size: var(--font-size-headline);
}

/* ===== Auth Form ===== */
.authFormContainer {
  grid-column: 7 / 13;
  grid-row: 2;
  background: var(--bg-clr-lvl-2);
}
