/* ===== Main Grid ===== */
.mainGrid {
  display: grid;
  grid-template-columns: 2em repeat(10, 1fr) 2em;
  grid-template-rows: 74px 100px auto 60px;
  height: 100vh;
}

/* ===== Headers ===== */
.boldHeader {
  align-self: center;
  color: var(--text-and-icons-clr-primary);
  font-weight: var(--font-weight-headline);
  font-size: var(--font-size-headline);
  display: inline;
}
.filtersHeader {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.solutionsHeader {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
  position: relative;
  width: max-content;
}
.lightCounter {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 14px;
  color: var(--system-clr-info);
  background: var(--bg-clr-lvl-2);
  padding: 2px 10px;
  border-radius: 10px;
}
.favouritesHeader {
  grid-column: 6 / 9;
  grid-row: 2 / 3;
  position: relative;
  width: max-content;
  margin-left: 2.5em;
}

/* ===== Select ===== */
.selectHeader {
  grid-column: 9 / 11;
  grid-row: 2 / 3;
  margin: 0 !important;
}
.selectHeader div {
  border-radius: var(--rounding-lvl-2);
  padding: 6px 12px;
}
.selectHeader div:hover fieldset {
  border-color: var(--accent-clr) !important;
}
.selectHeader div > div {
  padding: 0;
}
.selectHeader div svg {
  z-index: 1;
}
.selectHeader fieldset {
  border: 1px solid #e5eaee;
  background: var(--bg-clr-lvl-2);
  z-index: -1;
}
.selectHeader fieldset legend {
  display: none;
}

/* ===== Project Cards Grid ===== */
.projectCardsGrid {
  display: grid;
  grid-column: 5 / 11;
  grid-row: 3;
}

/* ===== Project Cards Pagination ===== */
.projectCardsPagination {
  display: grid;
  grid-column: 5 / 11;
  grid-row: 4;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.selectProjectCardsAmountContainer {
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
}
.muiPagination {
  justify-self: end;
}
.projectCardsAmountSelect div {
  padding: 6px 12px;
}
.projectCardsAmountSelect div > div {
  padding: 0;
}
.projectCardsAmountSelect div svg {
  z-index: 1;
}
.projectCardsAmountSelect fieldset {
  border-radius: var(--rounding-lvl-2);
  border: 1px solid #e5eaee;
  background: var(--bg-clr-lvl-2);
  z-index: -1;
}
.projectCardsAmountSelect div:hover fieldset {
  border-color: var(--accent-clr) !important;
}
.projectCardsAmountSelect fieldset legend {
  display: none;
}
.selectProjectCardsAmountContainer,
.projectCardsAmount {
  color: var(--text-and-icons-clr-secondary);
  font-weight: 300;
}
